.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.send-button {
  color: #fff !important;
  background-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  cursor: pointer;
}

.send-button:hover .send-image{
  transform: scale(2);
  transition: all 300ms;
}

.send-image {
  width: 30%;
  transition: all 300ms;
}
